* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #373737;
  color: #e7b647;
}

html, #root {
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

.window {
  height: 100%;
  flex-grow: 1;
  background-color: #292929;
}

.contact {
  padding: 5px;
  display: grid;
  grid-template: repeat(2, 30px) / repeat(5, 60px);
  grid-column-gap: 5px;
}

.contact.active {
  background-color: #DDD;
}

.contact:hover {
  background-color: #EEE;
  cursor: pointer;
}

.contact .avatar {
  grid-row: 1 / span 2;
  grid-column: 1;

  background-color: #d81a21;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  padding: 5px;
  border-radius: 100%;
}

.contact .name {
  grid-row: 1;
  grid-column: 2 / span 3;
  align-self: end;
}

.contact .jid {
  grid-row: 2;
  grid-column: 2 / span 3;
  color: grey;
}

.message {
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  background-color: #373737;
}

.message {
  background-color: #373737;
}

.right .message {
  border-top-right-radius: 0;
  float: right;
}

.left .message {
  border-top-left-radius: 0;
}

.message-row::after {
  display: table;
  content: "";
  clear: both
}

.chat-window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-list {
  overflow: auto;
  flex-grow: 1;
}

.text-input input {
  margin: 0;
  border: 0;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  color: inherit;
  background-color: #373737;
}

.message .status {
  text-align: right;
  font-size: 75%;
  color: #7e6427;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page .form .item {
  width: 300px;
  display: block;
  margin: 3px;
  background: inherit;
  border: 1px solid #e7b647;
  color: #e7b647;
  padding: 5px;
}

.login-page .advanced {
  overflow: hidden;
}

.message .sec-icon {
  margin-left: 5px;
}

.composer {
  display: flex;
  background-color: #373737;
}

.text-input {
  flex-grow: 1;
}

.encryption-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
}

.chat-state {
  display: flex;
  width: 100%;
  height: 100%;
}

.top-bar {
  padding: 5px;
  flex-grow: 0;
  background-color: #373737;
  display: flex;
}

.top-bar > .name {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu-button {
  display: none;
  padding: 10px;
  font-size: 25px;
}

.login-page .error {
  width: 300px;
  padding: 5px;
  margin: 3px;
  color: black;
  background-color: #d81a21;
}

@media screen and (max-width: 800px) {
  .app {
    display: block;
  }

  .menu-button {
    display: block;
  }

  .chat-state {
    width: 200%;
    display: block;
    position: relative;
  }

  .chat-state > * {
    width: 50%;
    float: left;
  }

  .chat-state.see-chat {
    left: -100%;
  }
}